#taskTable {
    color: #424242;
    background-color: #FCD29F;
    border-color: #FCAB64;
    border: 5px;
}

#completedTable {
    color: #424242;
    background-color: #A1FCDF;
    border: 5px, #7FD8BE;
}

input {
    color: black
}

body {
    background-color: #ffffff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: auto;
    color: #6f7277;
}

h2 {
    color: #424242;
    text-align: center;

}

h3 {
    color: #424242;
    text-align: center;
}

h1 {
    text-align: center;
    color: #00c7ff;
}

.container {
    background-color: #FCEFEF;
    border-radius: 25px;
    position: relative;
}

table {
    border-radius: 10px;
}